section{
    margin-bottom: 40px;
    border: 2px solid black;
}

.header{
    height: 154px;
    background-color: #0B857D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 348px;
    height: 74px;
}

.text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0px 40px;
}

.list1{
    margin: 20px 20px;
}

.footer{
    height: 50px;
    background-color: #0B857D;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    color: #fff;
    font-weight: 500;
}

#list-button{
    margin-left: 40px;
    margin-bottom: 20px;
    height: 24px;
}

.list_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#list2{
    padding-left: 0px;
    width: 300px;

    @media (min-width: 480px) {
        width: 400px;
    }

    @media (min-width: 769px) {
        width: 680px;
    }

    @media (min-width: 1280px) {
        width: 1200px;
    }
}

.list_item{
    padding: 10px 10px;
    margin-bottom: 5px;
    list-style-type: none;
    border: 2px solid #0B857D;
    border-radius: 10px;
}

.list_item:hover{
    padding: 10px 10px;
    margin-bottom: 5px;
    list-style-type: none;
    border: 2px solid #0B857D;
    border-radius: 10px;
    background-color: rgba(11, 133, 125, 0.1);
}

#list-button2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E74D00;
    border: 2px solid #E74D00;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}

#list-button2:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #E74D00;
    color: #E74D00;
    padding: 10px 15px;
    border-radius: 10px;
}

